.img-thumbnail {
    border: 0px;
}

.auction-item {
    padding: $spacing-big 0 $spacing-big 0;
    border-bottom: 1px solid $light-gray;
    margin-bottom: $spacing-medium;

    a {
        cursor: pointer;
    }

    .bidPrice input {
        display: inline-block;
    }

    .btn {
        background-color: $secondary-color;
        border-color: $secondary-color;
    }

    .btn:disabled {
        background-color: $secondary-color;
        border-color: $secondary-color;
        cursor: default;
    }
}

.auction-item--title {
    font-size: $font-big;
    margin: 0;
    padding: 0;
}

.auction-item--img {
    text-align: center;
    vertical-align: middle;
}

.auction-item--info {
    padding: $spacing-medium, $spacing-medium;
    
    p {
        padding-bottom: $spacing-medium;
    }
}

.auction-item--time-left {
    font-size: $font-small;
}

