.tag-filter ul {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.tag-filter ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
	width: 100%;
}

.tag-filter--link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4em 0.6em;
	background-color: white;
	border: 1px solid $medium-gray;
	border-radius: 2px;
	color: $text-color;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
	width: 100%;
	text-align: left;

	&:hover, &.tag-filter--link--selected {
		background-color: $primary-color;
		border: 1px solid $primary-color;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.count {
		padding-left: 5px;
		padding-right: 5px;
		background-color: $medium-gray;
		border-radius: 100%;
		color: white;
		font-size: 12px;
		text-align: center;
		-webkit-transition: .2s;
		transition: .2s;
	}

	&:hover .count, &.tag-filter--link--selected .count {
		background-color: white;
		color: $primary-color;
	}
}