$modal-width: 700px;
$modal-vertical-padding: 80px;

.modal--overlay {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-modal-overlay;
}

.modal--message {
	background-color: white;
	border: 1px solid white;
	position: fixed;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	min-height: 300px;
	max-height: 90%;
	width: $modal-width;
	z-index: $z-index-modal;
  	border-radius: 6px;
	padding: 40px 0;
	overflow-y: scroll;
	overflow-x: hidden;

	@media (max-width: $modal-width) {
	  width: 94%;
	}

	h2 {
		text-align: center;
		font-size: 36px;
		font-family: Helvetica, sans-serif;
		font-weight: lighter;
		padding-bottom: 40px;
	}

	.author-img {
		text-align: center;
		margin-bottom: 40px;
	}

	.author-img img {
		border-radius: 100%;
		width: 140px;
	}
}

.modal--close-link {
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 36px;
	font-weight: lighter;

	&:hover a {
		cursor: pointer;
		text-decoration: none;
	}
}