@import url('https://fonts.googleapis.com/css?family=Courgette');

@import "variables";
@import "resets";
@import "animations";

@import "auction_items";
@import "search_box";
@import "filter_tags";
@import "modal";

.title--sub-description {
    font-family: 'Courgette', cursive;
    color: $dark-gray;
    font-size: 1.2em;
}