$primary-color: orangered;
$secondary-color: #00009C;

$dark-gray: #AAA;
$medium-gray: #C0C0C0;
$light-gray: #EEE;

$text-color: #333;

$spacing-big: 25px;
$spacing-medium: 15px;

$font-big: 24px;
$font-medium: 18px;
$font-small: 14px;

$z-index-modal: 6;
$z-index-modal-overlay: 5;