<!DOCTYPE html>
<html lang="en">
    <head data-api-address=<%= apiAddress %>>
        <title>Ooo Auctions</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="app-container"></div>
        </div>
        <script src="assets/bundle.js"></script>
    </body>
</html>